/* global css */
*{
    font-size: 30px;
    font-weight: 500;
}
/*External css*/
h3{
    color:darkslategrey;
}
/*Element Selector*/
h4{
    color:burlywood; 
}
/*Class Selector*/
.myclass {
    color:cornsilk;
}
/*ID Selector*/
#myid{
    color:hotpink;
}
/* group Selector*/
h5,p{
    color:darkmagenta
}